<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="stylesheet" th:href="@{/css/work11.css}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<section class='section'>
    <div class='masthead-image' id='master-container'>
        <div class='content center'>
            <h1 id='master'>
                <div>Hello</div>
                <div id='master-container-scroller'>
                    <div class='master-container-scroller_item'>
                        <a class='cta-link' href='#' onclick="Egg()">Friend</a>.
                    </div>
                    <div class='master-container-scroller_item'>
                        <a class='cta-link' href='#' onclick="Egg()">Minseok</a>.
                    </div>
                    <div class='master-container-scroller_item'>
                        <a class='cta-link' href='#' onclick="Egg()">Teacher</a>.
                    </div>
                    <div class='master-container-scroller_item'>
                        <a class='cta-link' href='#' onclick="Egg()">Mom</a>.
                    </div>
                    <div class='master-container-scroller_item'>
                        <a class='cta-link' href='#' onclick="Egg()">Dad</a>.
                    </div>
                    <div class='master-container-scroller_item'>
                        <a class='cta-link' href='#' onclick="Egg()">Brother</a>.
                    </div>
                    <div class='master-container-scroller_item'>
                        <a class='cta-link' href='#' onclick="Egg()">Sister</a>.
                    </div>
                    <div class='master-container-scroller_item'>
                        <a class='cta-link' href='#' onclick="Egg()">Son</a>.
                    </div>
                    <div class='master-container-scroller_item'>
                        <a class='cta-link' href='#' onclick="Egg()">Daughter</a>.
                    </div>
                    <div class='master-container-scroller_item'>Friend.</div>
                </div>
                <div>Nice to see you.</div>
            </h1>
        </div>
    </div>
</section>
</body>
</html>