<!DOCTYPE html>
<html lang="ko">
<head>
    <link rel="stylesheet" th:href="@{/css/work7.css}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<main>
    <div>
        <div></div>
    </div>
    <div>
        <div></div>
    </div>
    <div>
        <div></div>
    </div>
    <div>
        <div></div>
    </div>
    <div>
        <div></div>
    </div>
    <div>
        <div></div>
    </div>
    <div>
        <div></div>
    </div>
    <div>
        <div></div>
    </div>
    <div>
        <div></div>
    </div>
    <div>
        <div></div>
    </div>
    <div>
        <div></div>
    </div>
    <div>
        <div></div>
    </div>
    <div>
        <div></div>
    </div>
    <div>
        <div></div>
    </div>
    <div>
        <div></div>
    </div>
    <div>
        <div></div>
    </div>
    <div>
        <div class="pizzazz"></div>
    </div>
    <div>
        <div class="pizzazz"></div>
    </div>
    <div>
        <div class="pizzazz"></div>
    </div>
    <div>
        <div class="pizzazz"></div>
    </div>
</main>

<svg viewBox="0 -20 300 300">
    <defs>
        <filter id="drawn">
            <feTurbulence baseFrequency="0.1325" numOctaves="8" />
            <feDisplacementMap in="SourceGraphic" scale="10" />
        </filter>
    </defs>
</svg>
<script th:inline="javascript" th:src="@{/js/work7.js}"></script>
</body>
</html>